<!-- View Modal -->
<div class="modal modal-blur fade" id="view-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="view-loader">
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal modal-blur fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="edit-loader">
        </div>
    </div>
</div>

<!-- Video-call Modal -->
<div class="modal modal-blur fade" id="video-call-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLabel">Modal title</h5>
                <button type="button" id="leave-meeting-modal" class="btn-close bg-danger btn-danger" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0" id="video-call-loader">
                {{!-- Modal body content --}}
            </div>
        </div>
    </div>
</div>