<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  {{!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link href="/dist/css/tabler.min.css?1674944402" rel="stylesheet" />
  <link href="/dist/css/tabler-vendors.min.css?1674944402" rel="stylesheet" />
  <link href="/dist/css/demo.min.css?1674944402" rel="stylesheet" />

  <link href="/dist/css/tabler-flags.min.css?1674944402" rel="stylesheet" />
  <link href="/dist/css/tabler-payments.min.css?1674944402" rel="stylesheet" />

  {{!-- web socket --}}
  <script src="/socket.io/socket.io.js"></script>


  {{!-- toster cdn --}}
  <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css">

  <style>
    .error {
      color: red;
    }

    .liked_menu {
      max-height: 180px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .badge-notification {
      font-size: 10px;
    }

    .notification-menu {
      width: 400px !important;
    }

    .unSeen {
      background: #f4f1f1;
    }

    a {
      cursor: pointer !important;
      text-decoration: none !important;
    }
  </style>
</head>

<body>
  {{> usernavbar}}
  <div class="body">
    {{{body}}}
  </div>
  <script>
    const userId = $("#userId").attr("class");
    window.socket = io.connect('http://192.168.1.171:3000', {
      query: {
        "userId": userId
      }
    });

    function getNotifyCount() {
      $.ajax({
        type: "get",
        url: `/users/notifications/unSeen`,
        success: function (response) {
          $(".notification-menu").html(response);
          const totalCount = $(".total-notify").data("total");
          if (totalCount > 0) {
            $("#notifications").html(`<span class="badge bg-danger badge-notification badge-pill">${totalCount}</span>`);
          }
        },
        error: function (error) {
          console.log(error);
        }
      });
    }
    getNotifyCount();

    socket.emit("getRequestCount", userId)
    socket.on("totalRequests", (RequestCount) => {
      if (RequestCount > 0) {
        $("#requests").html(`<span class="badge bg-danger badge-notification badge-pill">${RequestCount}</span>`);
      }
      else {
        $("#requests").html("");
      }
    });
    socket.on("requestNotify", (RequestCount) => {
      $("#requests").html(`<span class="badge bg-danger badge-notification badge-pill">${RequestCount}</span>`);
    });

    $(document).on('click', '.unSeen', function () {
      const notifyId = $(this).data("notifyid");
      socket.emit("updateNotification", notifyId)
    });

    socket.on("newNotification", (newNotification) => {
      getNotifyCount();
      toastr.info(newNotification).delay(2000).fadeOut(1000);

    });
  </script>

  {{> modals}}
</body>

</html>