body,
.gradient-custom-list {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(28, 52, 60), rgb(75, 80, 41));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(28, 52, 60), rgb(75, 80, 41));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.gradient-custom-chat {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(28, 52, 60), rgb(75, 80, 41));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(28, 52, 60), rgb(75, 80, 41))
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.scroll-user-list {
    height: 650px;
    overflow-y: auto;
}

.scroll-chat {
    height: 508px;
    overflow-y: auto;
}

.chat-user-icon {
    height: 60px;
    width: 60px;
}

.selected {
    background: rgba(19, 18, 18, 0.2)
}

#userId,
#chat-partner,
.nav-link-icon,
.nav-link-title {
    color: white;
}