<script src="/dist/js/demo-theme.min.js?1674944402"></script>

<form id="createPostForm" enctype="multipart/form-data">
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="row g-0">
                    <div class="col d-flex flex-column">
                        <div class="card-body">
                            <h4 class="card-title">Post Details</h4>
                            <div class="row align-items-center">
                                <div class="col-auto"><a href="#" class="btn">
                                        <div class="mb-3">
                                            <input class="form-control" name="aavtar" id="aavtar" type="file"
                                                id="formFile">
                                        </div>
                                    </a></div>
                            </div>
                            <br>
                            <div class="form-label mt-4">Title</div>
                            <div>
                                <div class="row g-2">
                                    <div class="col-auto">
                                        <input size="50" type="text" class="form-control" id="title" name="title">
                                        <span class="float-end">/ 30</span>
                                        <span id="titleCount" class="float-end">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-label mt-4">Description</div>
                            <div>
                                <div class="row g-2 d-flex">
                                    <div class="col-auto">
                                        <textarea rows="3" cols="100" id="description" type="text"
                                            class="form-control w-auto" name="description"></textarea>
                                        <span class="float-end">/ 300</span>
                                        <span id="descriptionCount" class="float-end">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent mt-auto">
                            <div class="btn-list justify-content-end">
                                <a href="#" class="btn" onclick="history.back()">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary" id="save">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h4>{{messages}}</h4>
        </div>
    </div>
</form>

<script src="/javascripts/posts/create.js" defer></script>